.navbar {
    background-color: #000000; 
    overflow: hidden;
}

   
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

       
        .navbar a:hover {
            background-color: gray; 
            color: white;
        }

       
        .navbar a.active {
            background-color: #808080; 
            color: white;
        }
